@import '../../styles/global';

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap');

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@viewport {
  width: device-width;
  height: device-height;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 17px;
  margin-top: 24px;
}

.row {
  text-align: center;
  padding: 5px;
}


.button {
  display: inline-block;
  font-family: inherit;
  background-color: rgba(238, 247, 249, 0.379);
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  height: 30px;
}

.button-icon {
  @extend .button;
  background-size: 17px 17px;
  background-repeat: no-repeat;
  background-position: center center;
}

.button-github {
  @extend .button-icon;
  background-image:l url('../images/angelsOfWar.png');
}

.button-linkedin {
  @extend .button-icon;
  background-image: url('../images/angelsOfWar.png');
}

.link {
  color: $color-palette-1;
  font-family: inherit;
  font-size: 17px;
}
