@import '../styles/global';

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap');

.container {
  max-width: $site-width;
  margin: 0 auto;
  padding-top: 17px;
  margin-top: 24px;
}

.row {
  text-align: center;
  padding: 5px;
}


.button {
  display: inline-block;
  font-family: 'Oxanium';
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  height: 30px;
}

// &:hover {
  
// }


.button-icon {
  @extend .button;
  background-size: 17px 17px;
  background-repeat: no-repeat;
  background-position: center center;
}

.button-github {
  @extend .button-icon;
  background-image:l url('../images/github.png');
}

.button-linkedin {
  @extend .button-icon;
  background-image: url('../images/linkedin.png');
}

.link {
  color: $color-palette-1;
  font-family: 'Oxanium';
  font-size: 17px;
}
