*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@viewport {
  width: device-width;
  height: device-height;
}

.nav-header {
  background: #082625eb;
  /* marginBottom: 1.45rem, */
}

a :hover {
text-shadow: 2px rgb(208, 237, 230);
}