@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap');


.nav-header {
  background: rgba(111, 144, 147, 0.515);
  /* marginBottom: 1.45rem, */
}

a :hover {
text-shadow: 2px rgb(208, 237, 230);
}