@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap');


.about{
  justify-content: center;
  color: ghostwhite;
  background-color: rgba(95, 158, 160, 0.83);
  margin: auto;
  padding: 1.5rem;
  border: 3px solid rgba(95, 158, 160, 0.83);
}

h1 {
  font-size: 1.7em;
  align-content: center;
}


.floatingComponent{
  background-color: transparent;
}