@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap');
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@viewport {
  width: device-width;
  height: device-height;
}

/* .react-burger-menu {
  max-width: 17vw;
  display: flex;
  flex-direction: row;
} */
 /** sidepanel styles*/
.bm-menu {
  box-sizing: border-box;
  box-shadow: rgba(237, 240, 240, 0.564) 3px -3px 3px;
  background-color: transparent;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.83), rgba(112, 98, 119, 0.303));
  margin: auto;
  font-size: 1.1em;
  font-weight: 4.2px;
  color: darkslategray;
  text-shadow: rgba(0, 255, 229, 0.919) 1.7px 1.7px 0px;
  padding-top: 2.1vw;
}

.pageslidebar {
  box-sizing: border-box;
  box-shadow: 3px solid ghostwhite;
  display: inline-flex;
  background-image: linear-gradient(to bottom right, ghostwhite, rgba(94, 111, 108, 0));
  /* flex-direction: row; */
  /* flex: 0 0 190px; */
}

.bm-menu-wrap {
  transition: '' !important;
}

.bm-cross-button {
  color: #0abab5;
}

.bm-cross {
  background-color: rgba(54, 54, 58, 0.762);
}


/** the sidebar panel for transition*/
.bm-burger-button {
  position: fixed;
  box-sizing: border-box;
  min-width: 4.2vw;
  height: 6.6vh;
  text-decoration: none;
  left: 4.2vw;
  top: 15vh;
  background-color: #0abab5;
  border: 3px groove ghostwhite;
  transition: all .3s ease-in-out;
  border-radius: 66px;
  -webkit-border-radius: 66px;
  -moz-border-radius: 66px;
  -webkit-transition: all .3s ease-in-out;
  content: 'Side Nav Panel'; 
}

.bm-burger-button:hover {
  border-radius: 17px;
  width: 6vw;
  height: 9vh;
  background-color: rgba(188, 158, 249, 0.034);
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.83), rgba(112, 98, 119, 0.303));
}

/* .bm-burger-bars {
  background: turquoise;
} */

.bm-item-list {
  display: inline-block;
}

.bm-overlay {
  min-width: 17vw;
}

.bm-morph-shape {
  fill: #0abab471;
}

.menu-item, .menu-item--small {
  /* background-color: rgba(143, 121, 210, 0.433); */
  min-width: 17vw;
  // max-width: 24vw;
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  /* position: absolute; */ 
  font-size: 1.5rem;
  font-weight: 4.2px;
  padding: 3vh 0 2.1vh 5.1vw;
}

.menu-item:hover {
  box-sizing: border-box;
  border-radius: 17px;
  background-color: rgba(145, 205, 218, 0.164);
  background-image: linear-gradient(to right, #0abab5, rgba(145, 205, 218, 0), ghostwhite);
  color: ghostwhite;
  text-shadow: none;
  font-weight: 6px;
}


// @media only screen and (min-width: 1025px){
//   body {
//      width: 66.66%;
//   }
//   .bm-menu {
//      width: 33.33%;
//   }
// }