@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap');

/* .react-burger-menu {
  max-width: 17vw;
  display: flex;
  flex-direction: row;
} */
 /** sidepanel styles*/
.bm-menu {
  box-sizing: border-box;
  box-shadow: rgba(171, 178, 191, 0.817) 3px -3px 3px;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.83), rgba(112, 98, 119, 0.303));
  // background: rgba(143, 121, 210, 0.433);
  margin: auto;
  font-size: 1.1em;
  font-weight: 4.2px;
  color: rgba(62, 182, 238, 0.906);
  text-shadow: rgba(255, 0, 89, 0.919) 2px 2px 0px;
  padding-top: 2.1vw;
}

.pageslidebar {
  box-sizing: border-box;
  box-shadow: 3px floralwhite;
  display: inline-flex;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.83), rgba(112, 98, 119, 0.303));
  /* flex-direction: row; */
  
  /* flex: 0 0 190px; */
}

.bm-menu-wrap {
  transition: '' !important;
}

.bm-cross-button {
  height: 6vh;
}

.bm-cross {
  background-color: rgba(54, 58, 55, 0.762);
}


/** the sidebar panel for transition*/
.bm-burger-button {
  position: fixed;
  box-sizing: border-box;
  box-shadow: 3px solid rgb(240, 255, 240);
  width: 4.2vw;
  height: 9vh;
  text-decoration: none;
  left: 4.2vw;
  top: 15vh;
  background-color: rgba(112, 188, 216, 0.372);
  border-radius: 66px;
  -webkit-border-radius: 66px;
  -moz-border-radius: 66px;
  // -webkit-transition: all .1s ease-in-out;
  border: 6px groove ghostwhite;
  /* content: 'Side Nav Panel'; */
}

.bm-burger-button:hover {
  border-radius: 33px;
  width: 9vw;
  height: 9vh;
  background-color: rgba(244, 249, 158, 0.762);
}

/* .bm-burger-bars {
  background: turquoise;
} */

.bm-item-list {
  display: inline-block;
}

.bm-overlay {
  min-width: 17vw;
  /* background-color: rgba(213, 207, 228, 0.433); */
}

.bm-morph-shape {
  fill: #b6add36e
}

.menu-item, .menu-item--small {
  /* background-color: rgba(143, 121, 210, 0.433); */
  min-width: 17vw;
  max-width: 24vw;
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  text-decoration: none;
  cursor: pointer;
  /* position: absolute; */ 
  font-size: 1.1em;
  font-weight: 4.2px;
  padding: 3vh 0 2.1vh 5.1vw;
}

.menu-item:hover {
  background-color: rgba(145, 205, 218, 0.591);
  color: floralwhite;
  text-shadow: powderblue .6px .6px;
  border-radius: 17px;
  border: 3px solid rgba(209, 214, 215, 0.043);
  font-weight: 6px;
}