@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap');
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@viewport {
  width: device-width;
  height: device-height;
}
// Transform mixin
@mixin transform($property){	
	-webkit-transform: $property;
  -moz-transform: $property;
  transform: $property; 
}

// Transition mixin
@mixin single-transition($property:all, $speed:150ms, $ease:ease, $delay: 0s){	
	-webkit-transition: $property $speed $ease $delay;	
  transition: $property $speed $ease $delay;
}
@mixin sweepButtonGradient(){
  background: rgb(0,0,0);
  background: -moz-linear-gradient(90deg,  rgba(0,0,0,1) 0%, rgba(255,38,38,1) 94%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(0,0,0,1)), color-stop(94%,rgba(255,38,38,1)), color-stop(100%,rgba(0,0,0,1)));
  background: -webkit-linear-gradient(90deg,  rgba(0,0,0,1) 0%,rgba(255,38,38,1) 94%,rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(90deg,  rgba(0,0,0,1) 0%,rgba(255,38,38,1) 94%,rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(90deg,  rgba(0,0,0,1) 0%,rgba(255,38,38,1) 94%,rgba(0,0,0,1) 100%);
  background: linear-gradient(90deg,  rgba(0,0,0,1) 0%,rgba(255,38,38,1) 94%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=1 );
}

/* .react-burger-menu {
  max-width: 17vw;
  display: flex;
  flex-direction: row;
} */
 /** sidepanel styles*/
.bm-menu {
  box-sizing: border-box;
  box-shadow: rgba(237, 240, 240, 0.564) 3px -3px 3px;
  background-color: transparent;
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.83), rgba(112, 98, 119, 0.303));
  margin: auto;
  font-size: 1.1em;
  font-weight: 4.2px;
  color: darkslategray;
  text-shadow: rgba(0, 255, 229, 0.919) 1.7px 1.7px 0px;
  padding-top: 2.1vw;
}

.pageslidebar {
  box-sizing: border-box;
  box-shadow: 3px solid ghostwhite;
  display: inline-flex;
  background-image: linear-gradient(to bottom right, ghostwhite, rgba(94, 111, 108, 0));
  /* flex-direction: row; */
  /* flex: 0 0 190px; */
}

.bm-menu-wrap {
  transition: '' !important;
}

.bm-cross-button {
  color: #0abab5;
}

.bm-cross {
  background-color: rgba(54, 54, 58, 0.762);
}


/** the sidebar panel for transition*/
.bm-burger-button {
  position: fixed;
  box-sizing: border-box;
  width: 6vw;
  height: 6.6vh;
  text-decoration: none;
  left: 4.2vw;
  top: 15vh;
  background-color: transparent;
  background-image: linear-gradient(to bottom, ghostwhite, transparent);
  border: 3px groove ghostwhite;
  transition: all .2s ease-in-out;
  border-radius: 66px;
  -webkit-border-radius: 66px;
  -moz-border-radius: 66px;
  -webkit-transition: all .3s ease-in-out;
  content: 'Side Nav Panel'; 
}

.bm-burger-button:hover {
  border-radius: 17px;
  width: 6vw;
  height: 9vh;
  background-color: rgba(115, 205, 184, 0.034);
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.83), rgba(112, 98, 119, 0.303));
}

/* .bm-burger-bars {
  background: turquoise;
} */

.bm-item-list {
  display: inline-block;
}

.bm-overlay {
  min-width: 17vw;
}

.bm-morph-shape {
  fill: #0abab471;
}

.menu-item, .menu-item--small {
  min-width: 17vw;
  display: flex;
  flex-direction: row;
  position: relative;
  flex-wrap: wrap;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  z-index: -1;
  @include single-transition(all, 0.2s, ease-out, 0s);
  .gradient {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 300%;
    height: 100%;
    bottom: auto;
    margin: auto;
    z-index: -1;
    @include sweepButtonGradient(); //transition gradient descent
    @include single-transition(all, 0s, ease-out, 0s);
    @include transform(translateX(-35%));
  }

  &:hover, &:focus {
    border: 2px solid ghostwhite;
    @include single-transition(all, 0.3s, ease-out, 0.1s);
    .gradient {
      @include transform(translateX(100%));
      @include single-transition(all, 0.8s, ease-out, 0s);
    }
  }

  @include transform(translateX(-35%));
  font-size: 1.5rem;
  font-weight: 4.2px;
  padding: 3vh 0 2.1vh 5.1vw;
  transition: 0.5s;

  
}


.menu-item:hover {
  box-sizing: border-box;
  background-position: right center;
  border-radius: 17px;
  background-color: transparent;
  background-image: linear-gradient(to right, #0abab5, rgba(34, 86, 44, 0.886), rgba(17, 53, 17, 0.948),rgba(123, 9, 9, 0.818), ghostwhite);
  color: ghostwhite;
  text-shadow: none;
  font-weight: 6px;
  transition: all 0.5s ease-in-out;

}

// @media only screen and (min-width: 1025px){
//   body {
//      width: 66.66%;
//   }
//   .bm-menu {
//      width: 33.33%;
//   }
// }