@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap');

.opensource {
  display: flex;
  flex-direction: row;
  flex-wrap: row wrap;
  flex-grow: 3;
  color: darkslategray;
  min-width: 80%;
  max-height: 92vh;
  a, p {
    color: darkslategray;
  }
  // grid-template-columns: 30vw 30vw 30vw;
  // grid-template-rows: 30vh 30vh 30vh;
}