@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap');
@font-face {
  font-family: 'Vogue';
  src: local('Vogue'), url(../../fonts/Vogue.ttf) format('truetype');
}

.about {
  justify-content: center;
  color: ghostwhite;
  /* text-shadow: rgba(92, 119, 121, 0.769) 1.7px 1.7px .6px; */
  background-image: linear-gradient(to bottom right, rgba(129, 123, 133, 0.57), rgba(112, 98, 119, 0.303));
  /* background-color: rgba(95, 158, 160, 0.83); */
  margin: auto;
  padding: 1.5rem;
  border: 3px solid rgba(254, 255, 253, 0.2);
  border-radius: 17px;
  
  .tao {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    padding: 25px;
  
  }
  
  .tao-1 {
    position: relative;
    // padding: 55px;
    // display: inline-flex;
    flex-wrap: nowrap;
    padding-right: 25px;
  } 
  
  img {
    position: relative;
    display: inline-flex;
    /* flex-direction: row; */
    max-block-size: 17vw;
    flex-wrap: nowrap;
    border-radius: 33px;
    border: .5px rgba(35, 36, 38, 0.666);
  }
}

h1 {
  font-size: 1.7em;
  align-content: center;
  /* text-shadow: rgba(92, 119, 121, 0.769) 1.7px 1.7px .6px; */

}



.floatingComponent{
  background-color: transparent;
}