@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap');

.showcase {
  display: flex;
  flex-direction: row;
  flex-flow: column wrap;
  flex-grow: 1;
  font-size: 1.0rem;
  background-color: transparent;
  background-image: linear-gradient(to bottom right, rgba(112, 98, 119, 0.303), rgba(255, 255, 255, 0.83), rgba(255, 255, 255, 0.83), rgba(255, 255, 255, 0.83), rgba(112, 98, 119, 0.303));
  border-radius: 17px;
  color: darkslategrey;
  font-weight: bold;
  max-height: 42vh;
  text-align: center;
  margin-top: 2.4em;
  padding-top: 1.7rem;
  padding-bottom: 1.5rem;
  justify-content: center;
  h1 {
    position: relative;
    color: darkslategray;
    font-size: 1.7em;
  }

  h3 {
    font-size: 1.3em;
    color: darkslategray;
    text-align: center;
    /* text-shadow: rgba(66, 49, 67, 0.789) 1.7px 1.7px .6px; */
  
  }
  
  .lalocals {
    font-size: larger;
    color: darkslategray;
    // text-shadow: rgb(210, 223, 250) 2px 2px 2px;
  }
}

h1, h3, .lalocals {
  position: relative;
  color: darkslategray;
}