*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@viewport {
  width: device-width;
  height: device-height;
}
@font-face {
  font-family: 'Vogue';
  src: local('Vogue'), url(../fonts/Vogue.ttf) format('truetype');
}



content {
  color: aliceblue;
}


