@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap');
@font-face {
  font-family: 'Vogue';
  src: local('Vogue'), url(../fonts/Vogue.ttf) format('truetype');
}

content {
  color: aliceblue;
}


