.bio, .opensourcegrid, .contactinqueries, .publicationsgrid, .resume {
  min-height: 90vh;
  margin: 25px;
  max-width: 90vw;
  justify-content: center;
  background-image: linear-gradient(to bottom right,rgba(35, 36, 38, 0.755), rgba(81, 79, 82, 0.625));
  padding: 42px;
  border-radius: 24px;
}

h1 {
  font-size: 3.7em;
  font-weight: 3px;
  text-align: center;
}

h2, h3 {
  font-size: 3.4em;
  text-align: center;
}

.tao {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  padding: 25px;

}
/* .tao:child {
  position: relative;
  display: flex;
  flex-wrap: wrap;
} */

img {
  position: relative;
  display: inline-flexbox;
  /* flex-direction: row; */
  max-block-size: 24vw;
  flex-wrap: nowrap;
  border-radius: 25px;
  border: 3px rgba(35, 36, 38, 0.666);
}