*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@viewport {
  width: device-width;
  height: device-height;
}

@font-face {
  font-family: 'Vogue';
  src: local('Vogue'), url(../fonts/Vogue.ttf) format('truetype');
}

.bio, .opensourcegrid, .contactinqueries, .publicationsgrid, .resume, .systemsettings {
  position: relative;
  box-sizing: border-box;
  min-height: 90vh;
  text-align: center;
  margin: 1.3em;
  color: ghostwhite;
  font-size: 1.1em;
  min-width: 80vw;
  max-width: 90vw;
  justify-content: center;
  background-image: linear-gradient(to bottom right,rgba(35, 36, 38, 0.755), rgba(81, 79, 82, 0.625));
  padding: 42px;
  border-radius: 24px;
}

form {
    position: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    align-content: center;  

    button {
      box-sizing: border-box;
      align-content: center;
      background-color: transparent;
      background-image: linear-gradient(to left, rgba(5, 41, 14, 0.797), rgba(13, 50, 31, 0.68), rgba(19, 51, 52, 0.797), rgba(90, 225, 155, 0.626));
      padding: 5px 9px 5px 9px;
      border-radius: 7px;
    }

    button:hover {
      background-color: #0abab40a;
      // background-image: linear-gradient(to right,rgba(80, 87, 87, 0), rgba(79, 82, 82, 0.318), #0abab5, rgba(86, 104, 104, 0.53));
      // border-radius: 7px;
    }
}

.form-group {
  margin: 2vw;
  justify-content: center;
}

label {
  margin: 3vw;
  padding: 3vw;
}

input, .content, select {
  padding: 4.2vw;
  margin: 3vw;
  background-image: linear-gradient(to bottom right,rgba(35, 36, 38, 0.755), rgba(81, 79, 82, 0.625));
  border-radius: 17px;
}


option {
  background-image: linear-gradient(to bottom right,rgba(35, 36, 38, 0.755), rgba(81, 79, 82, 0.625));
  border-radius: 17px;
  margin-top: 0.7em;
  padding: 0.3em;
}


header {
  font-size: 1.5em;
  color: ghostwhite;
}

h1 {
  font-size: 3.7em;
  font-weight: 3px;
  color: ghostwhite;
  text-align: center;
}

h2, h3 {
  font-size: 3.4em;
  color: ghostwhite;
  text-align: center;
}

.tao {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin: auto;
  padding: 25px;

}

.tao:child {
  position: relative;
  padding: 55px;
  display: inline-flex;
  flex-wrap: nowrap;
}

.bio {
  img {
    max-block-size: 24vw;
    margin-left: 1.7em;
  }
}

img {
  position: relative;
  display: inline-flexbox;
  /* flex-direction: row; */
  // max-block-size: 24vw;
  flex-wrap: nowrap;
  border-radius: 16px;
  border: 2px rgba(145, 163, 164, 0.42);
}