@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap');

html {
  background: url('../images/building-architecture.jpg') no-repeat center center fixed;
  background-size: cover;
  color: aliceblue;
  font-family: 'Oxanium';
}

body {
  color: rgba(29, 24, 31, 0.872);
  font-family: 'Oxanium';
}

.container {
  width: 100%;
  display: inline-block;
  // flex-direction: row;
  // justify-content: flex-start;
  .opensource {
    display: grid;
    grid-template-columns: 46vw 46vw;
    grid-template-rows: 30vh 30vh 30vh;
    grid-auto-flow: dense;
  }
}

.nav-scroll {
  // border-radius: 20px;
  font-weight: 6px;
  overflow-x: scroll;
}

.nav-scroll a:hover {
  background-color: rgba(230, 32, 91, 0.652);
}
/* https://images.unsplash.com/photo-1545727303-83cede79596a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80 */